.env
.venv/
backups_json/
node_modules/
scraper.js
dd.js
url.txt
delete.js
scaper.js
history.json
history_indexnow.json
gg.py
now.py
service_account.json
dd2.js
dd3.js
ganticdn.js
fix_images.js
delete.js
backup.js
list.py
sino.js
url.txt